<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Disci_Hekim_Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GirisSoap" />
                <binding name="HekimSoap" />
                <binding name="HastaSoap" />
                <binding name="IslemlerSoap" />
                <binding name="Hizmetler1Soap" />
                <binding name="IslemDetaySoap" />
                <binding name="RandevuIslemleriSoap" />
                <binding name="AdminSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65390/Giris.asmx" binding="basicHttpBinding"
                bindingConfiguration="GirisSoap" contract="GirisKontrol.GirisSoap"
                name="GirisSoap" />
            <endpoint address="http://localhost:65390/Hekim.asmx" binding="basicHttpBinding"
                bindingConfiguration="HekimSoap" contract="HekimServis.HekimSoap"
                name="HekimSoap" />
            <endpoint address="http://localhost:65390/Hasta.asmx" binding="basicHttpBinding"
                bindingConfiguration="HastaSoap" contract="HastaServis.HastaSoap"
                name="HastaSoap" />
            <endpoint address="http://localhost:65390/Islemler.asmx" binding="basicHttpBinding"
                bindingConfiguration="IslemlerSoap" contract="IslemServis.IslemlerSoap"
                name="IslemlerSoap" />
            <endpoint address="http://localhost:65390/Hizmetler.asmx" binding="basicHttpBinding"
                bindingConfiguration="Hizmetler1Soap" contract="HizmetServis.Hizmetler1Soap"
                name="Hizmetler1Soap" />
            <endpoint address="http://localhost:65390/IslemDetay.asmx" binding="basicHttpBinding"
                bindingConfiguration="IslemDetaySoap" contract="IslemDetay.IslemDetaySoap"
                name="IslemDetaySoap" />
            <endpoint address="http://localhost:65390/RandevuIslemleri.asmx"
                binding="basicHttpBinding" bindingConfiguration="RandevuIslemleriSoap"
                contract="RandevuServis.RandevuIslemleriSoap" name="RandevuIslemleriSoap" />
            <endpoint address="http://localhost:65390/Admin.asmx" binding="basicHttpBinding"
                bindingConfiguration="AdminSoap" contract="AdminServis.AdminSoap"
                name="AdminSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Disci_Hekim_Program.Properties.Settings>
            <setting name="KullaniciAdi" serializeAs="String">
                <value />
            </setting>
            <setting name="Sifre" serializeAs="String">
                <value />
            </setting>
        </Disci_Hekim_Program.Properties.Settings>
    </userSettings>
</configuration>